.content__message{
    color: white;
    font-size: 30px;
}
.posts__item{
    margin: 50px 20px;
    background-color: rgb(36, 36, 37);
    padding: 20px;
    width: 300px;
}
.item__content{
    display: flex;
    gap: 10px;
    align-items: center;
}
.content__img{
    width: 40px;
    border-radius: 35%;
}
.content__likes {
    margin-left: 200px;
    color: #fff;
}