
/* .dialog__active {
    color: gold;
    font-size: 20px;
}
.dialogs {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dialog__img{
    height: 60px;
    border-radius: 50%;
} */
.dialogs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dialog__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .messages__dialogs-link {
    color: #555;
    text-decoration: none;
  }
  
  .dialog__active {
    color: #000;
    font-weight: bold;
  }