.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .pagination__item {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .pagination__item:hover {
    background-color: #333;
    color: #fff;
  }
  
  .pagination .active {
    background-color: #333;
    color: #fff;
  }

@media screen and (max-width: 768px) {
  .pagination{
    gap: 10px;
  }
}