@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Raleway:wght@600;700&display=swap');
.wrapper{
    font-family: 'Open Sans', sans-serif;
    display: grid;
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .wrapper{
        font-family: 'Open Sans', sans-serif;
        display: grid;
        gap: 10px;
        max-width: 100%;
        margin: 0 auto;
        grid-template-areas:
        "h h"
        "c c"
        "n n"
        ;
    
        grid-template-rows: 80px 1fr;
        grid-template-columns: 2fr 10fr;
    }
    .profile__backgroung-img {
        object-fit: cover;
      }
    .profile__data-items{
        width: 80%;
    }
}