.nav{
    grid-area: n;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    padding-top: 0;
    }
    .nav__link{
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #4d3c3c;
    }
    .nav__link:hover{
    background-color: #f0f0f0;
    }
    .nav__link.active{
    background-color: #4d3c3c;
    color: #fff;
    }
    .nav__link.active:hover {
    background-color: #4d3c3c;
    }
    .logout{
    background-color: transparent;
    border: none;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #4d3c3c;
    }
    .logout:hover {
    background-color: #f0f0f0;
    }
    .profile__icon{
    height: 1.5rem;
    fill: #4d3c3c;
    margin-right: 10px;
    }
    .nav__link.active .profile__icon {
    fill: #fff;
    }
    @media screen and (max-width: 768px) {
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: #f3f3f3;
            position: fixed;
            bottom: 0;
            z-index: 2;
        }
        .profile__nav-link-value{
            display: none;
        }
        .profile__icon{
            margin-right: 0;
        }
        .nav__link{
            width: 50px;
            margin-right: 20px;
            justify-content: center;
        }
    }