.nav{
    grid-area: n;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    padding-top: 0;
}
.nav__link{
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #4d3c3c;
}
.nav__link.active{
    background-color: #4d3c3c;
    color: #fff;
}
.logout{
    background-color: transparent;
    border: none;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #4d3c3c;
}
.profile__icon{
    height: 1.5rem;
    fill: #4d3c3c;
    margin-right: 10px;
}
.nav__link.active .profile__icon {
    fill: #fff;
}